# VHDL: ISE #
#############

*_xdb/
work/
_xmsgs/
xst/
isim/
iseconfig/
ipcore_dir/
_ngo/

*.xst
*.xrpt
*.stx
*.xbcd
*.xmsgs
*.prj
*.syr
*.lso
*.cmd_log
*.jhd
*.sch
*.wdb
*.exe
*.log
*.cmd
*.bgn
*.xwbt
*.bld
*.drc
*.ncd
*.map
*.mrp
*.ngm
*.csv
*.pcf
*_summary.*
*.twr
*.twx
*.unroutes
*.xml
*.bmm
*.ngc
*.ngr
*.ngd
*.pad
*.par
*.ptwx
*.ut
*.xpi
*_envsettings*
*_pad*
*_statistics_*

# Vsim
*.fdo
*.udo
*.wlf
wlft*

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.tgz
