# Reloj principal del sistema 
NET "CLK" LOC = "M6"; # Seal de reloj del sistema 
 
# Conexiones de los DISPLAYS
# Puestas al reves de como pone en la serigrafia
NET "SEG7<0>" LOC = "M12"; # seal = CG 
NET "SEG7<1>" LOC = "L13"; # Seal = CF 
NET "SEG7<2>" LOC = "P12"; # Seal = CE 
NET "SEG7<3>" LOC = "N11"; # Seal = CD 
NET "SEG7<4>" LOC = "N14"; # Seal = CC 
NET "SEG7<5>" LOC = "H12"; # Seal = CB 
NET "SEG7<6>" LOC = "L14"; # Seal = CA 

# Seales de activacin de los displays 
NET "AN<0>" LOC = "K14"; # Activacin del display 0 = AN0 
NET "AN<1>" LOC = "M13"; # Activacin del display 1 = AN1 
NET "AN<2>" LOC = "J12"; # Activacin del display 2 = AN2 
NET "AN<3>" LOC = "F12"; # Activacin del display 3 = AN3 
 
#Entrada externa donde se conecta la seal entrante 
NET "ENTRADA" LOC = "B2"; 	#Entrada terminal 1
