//! **************************************************************************
// Written by: Map M.81d on Wed Nov 06 18:09:57 2013
//! **************************************************************************

SCHEMATIC START;
COMP "SEG7<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "SEG7<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "SEG7<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "SEG7<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "SEG7<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "SEG7<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "SEG7<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "AN<0>" LOCATE = SITE "K14" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "M13" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "J12" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "F12" LEVEL 1;
COMP "LED0" LOCATE = SITE "M5" LEVEL 1;
COMP "LED1" LOCATE = SITE "M11" LEVEL 1;
COMP "LED2" LOCATE = SITE "P7" LEVEL 1;
COMP "LED3" LOCATE = SITE "P6" LEVEL 1;
COMP "LED4" LOCATE = SITE "N5" LEVEL 1;
COMP "LED5" LOCATE = SITE "N4" LEVEL 1;
COMP "ENTRADA" LOCATE = SITE "B2" LEVEL 1;
COMP "CLK" LOCATE = SITE "M6" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

